<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or site.metaTitle }}</title>
    <meta name="description" content="{{ description or site.metaDescription }}" />
    <link rel="icon" href="/favicon.png" type="image/png" sizes="48x48" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" sizes="48x48" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{ content | safe }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      (function () {
        if (!window.netlifyIdentity) return;
        var hash = window.location.hash || '';
        var hasToken =
          hash.indexOf('confirmation_token=') > -1 ||
          hash.indexOf('invite_token=') > -1 ||
          hash.indexOf('recovery_token=') > -1;

        if (hasToken && window.location.pathname.indexOf('/admin') !== 0) {
          window.location.href = '/admin/' + hash;
          return;
        }

        window.netlifyIdentity.on('login', function () {
          window.location.href = '/admin/';
        });

        if (hasToken) {
          window.netlifyIdentity.init();
          window.netlifyIdentity.open();
        }
      })();
    </script>
  </body>
</html>
